<div class="main">
  <div class="attack_difense_wrapper">
    <form class="attack_side_form">
      <div class="status1">
        <div class="status1_left">
          <div class="name">名前</div>
          <div class="name_wrapper">
            <div class="status_number">H90 A90 B80 C90 D90 S80</div>
            <input type="text" placeholder="ピカチュウ" class="name_form" id="attack_pokemon_name">
          </div>
          
          <div class="type">タイプ</div>
          <div class="type_wrapper">
            <div class="type1">ゴースト</div>
            <div class="type2">フェアリー</div>
          </div>
        </div>
        <div class="status1_right">
          <div class="level">Lv</div>
          <input type="text" placeholder="50" class="level_form" id="attack_level">
        </div>
      </div>
      <div class="status2">
        <div class="attack_wrapper">
          <div class="attack">攻撃</div>
          <input type="text" placeholder="150" class="attack_form" id="attack_status">
          <div class="attack_rise"></div>
          <div class="attack_down"></div>
        </div>
        <div class="individual_wrapper"> 
          <div class="individual">個体値</div>
          <input type="text" placeholder="31" class="individual_form" id="attack_individual">
        </div>
        <div class="effort_wrapper">
          <div class="effort">努力値</div>
          <input type="text" placeholder="252" class="effort_form" id="attack_effort">
        </div>
      </div>
      <div class="status2"></div>
      <div class="status3">
        <div class="personality_wrapper">
          <div class="personality">性格</div>

          <div class="personality_down"></div>
          <div class="personality_same"></div>
          <div class="personality_rise"></div>
        </div>

        <div class="rank_wrapper">
          <div class="rank">ランク</div>
          <input type="text" placeholder="+1" class="rank_form">
          <div class="rank_rise"></div>
          <div class="rank_down"></div>
        </div>
      </div>
      <div class="status4">
        <div class="characteristic">とくせい</div>
        <input type="text" placeholder="せいでんき" class="characteristic_form">
      </div>
      <div class="status5">
        <div class="tool">道具</div>
        <input type="text" placeholder="こだわりハチマキ" class="tool_form">
      </div>
      <div class="status6">
        <div class="technique">技名</div>
        <input type="text" placeholder="10まんボルト" class="technique_form">
      </div>
      <div class="status7">
        <div class="power">威力</div>
        <input type="text" placeholder="90" class="power_form" id="attack_power">
        <div class="technique_type">タイプ</div>
        <input type="text" placeholder="でんき" class="technique_type_form" id="attack_type">
      </div>
      <div class="status8">
        <div class="check_image"></div>
        <div class="condition">やけど</div>
      </div>
    </form>
    <form class="difense_side_form">
      <div class="status9">
        <div class="status9_left">
          <div class="name">名前</div>
          <div class="name_wrapper">
            <div class="status_number">H90 A90 B80 C90 D90 S80</div>
            <input type="text" placeholder="ピカチュウ" class="name_form">
          </div>
          
          <div class="type">タイプ</div>
          <div class="type_wrapper">
            <div class="type1">ゴースト</div>
            <div class="type2">ドラゴン</div>
          </div>
        </div>
        <div class="status9_right">
          <div class="level">Lv</div>
          <input type="text" placeholder="50" class="level_form">
        </div>
      </div>
      <div class="status10">
        <div class="physical_wrapper">
          <div class="physical">HP</div>
          <input type="text" placeholder="160" class="physical_form">
          <div class="physical_rise"></div>
          <div class="physical_down"></div>
        </div>
        <div class="individual_wrapper"> 
          <div class="individual">個体値</div>
          <input type="text" placeholder="31" class="individual_form">
        </div>
        <div class="effort_wrapper">
          <div class="effort">努力値</div>
          <input type="text" placeholder="252" class="effort_form">
        </div>
      </div>
      <div class="status11">
        <div class="difense_wrapper">
          <div class="difense">防御</div>
          <input type="text" placeholder="160" class="difense_form">
          <div class="difense_rise"></div>
          <div class="difense_down"></div>
        </div>
        <div class="individual_wrapper"> 
          <div class="individual">個体値</div>
          <input type="text" placeholder="31" class="individual_form">
        </div>
        <div class="effort_wrapper">
          <div class="effort">努力値</div>
          <input type="text" placeholder="252" class="effort_form">
        </div>
      </div>
      <div class="status12">
        <div class="personality_wrapper">
          <div class="personality">性格</div>
          <div class="personality_down"></div>    
          <div class="personality_same"></div>
          <div class="personality_rise"></div>
        </div>

        <div class="rank_wrapper">
          <div class="rank">ランク</div>
          <input type="text" placeholder="0" class="rank_form">
          <div class="rank_rise"></div>
          <div class="rank_down"></div>
        </div>
      </div>
      <div class="status13">
        <div class="characteristic">とくせい</div>
        <input type="text" placeholder="ものひろい" class="characteristic_form">
      </div>
      <div class="status14">
        <div class="tool">道具</div>
        <input type="text" placeholder="とつげきチョッキ" class="tool_form">
      </div>
      <div class="status15"></div>
      <div class="status15"></div>
      <div class="status15">
        <div class="check_image"></div>
        <div class="condition">リフレクター</div>
        <div class="check_image"></div>
        <div class="condition">ひかりのかべ</div>
      </div>
    </form>
  </div>
  <div class="environment">
    <div class="wether_wrapper"> 
      <div class="wether">天候</div>
      <div class="wether_none">なし</div>
      <div class="rain">あめ</div>
      <div class="sunny">はれ</div>
      <div class="sand">すな</div>
      <div class="ice">あられ</div>
    </div>
    <div class="field_wrapper">
      <div class="field">フィールド</div>
      <div class="field_none">なし</div>
      <div class="electric">エレキ</div>
      <div class="grass">グラス</div>
      <div class="psycho">サイコ</div>
      <div class="mist">ミスト</div>
    </div>
    <div class="gravity_wrapper">
      <div class="check_image"></div>
      <div class="gravity">じゅうりょく</div>
    </div>
  </div>
  <div class="damage_all">
    <div class="attack_side_wrapper">
      <div class="attack_side">攻撃側</div>
      <div class="attack_side_pokemon">ミミッキュ</div>
    </div>
    <div class="damage_main">
      <div class="damage_wrapper">
        <div class="damage">80~95</div>
        <div class="damage_ratio">60%</div>
      </div>
      <div class="figure_wrapper">
        <div class="physical_figure">
          <div class="damage_figure"></div>
        </div>
        <div class="physical_number">HP160</div>
      </div>
    </div>
    <div class="defense_side_wrapper">
      <div class="defense_side">防御側</div>
      <div class="defense_side_pokemon">ドラパルト</div>
    </div>
  </div>

</div>